body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:743px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:990px;
  height:743px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:75px;
  background:-webkit-linear-gradient(300deg, rgba(194, 229, 156, 1) 0%, rgba(194, 229, 156, 1) 0%, rgba(100, 179, 244, 1) 99%, rgba(100, 179, 244, 1) 100%);
  background:-moz-linear-gradient(150deg, rgba(194, 229, 156, 1) 0%, rgba(194, 229, 156, 1) 0%, rgba(100, 179, 244, 1) 99%, rgba(100, 179, 244, 1) 100%);
  background:linear-gradient(150deg, rgba(194, 229, 156, 1) 0%, rgba(194, 229, 156, 1) 0%, rgba(100, 179, 244, 1) 99%, rgba(100, 179, 244, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 229, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:990px;
  height:75px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:75px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:0px;
  width:495px;
  height:75px;
  color:#3300CC;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:491px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:75px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:0px;
  width:495px;
  height:75px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:45px;
  width:200px;
  height:30px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:75px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:0px;
  width:96px;
  height:75px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 211, 211, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:75px;
  width:990px;
  height:25px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(194, 229, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 229, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:75px;
  width:300px;
  height:25px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:296px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:25px;
  background:inherit;
  background-color:rgba(100, 179, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(100, 179, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:right;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:75px;
  width:690px;
  height:25px;
  color:#FFFFFF;
  text-align:right;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:668px;
  word-wrap:break-word;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:573px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 211, 211, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:110px;
  width:990px;
  height:573px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:115px;
  width:172px;
  height:25px;
  color:#FF3300;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:172px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:141px;
  width:970px;
  height:1px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:308px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:140px;
  width:970px;
  height:308px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:166px;
  width:300px;
  height:37px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:178px;
  width:26px;
  height:20px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:286px;
  width:869px;
  height:129px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:0px;
  width:189px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:0px;
  width:139px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:117px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:0px;
  width:131px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:0px;
  width:77px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:0px;
  width:64px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:52px;
  height:34px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:34px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:30px;
  width:189px;
  height:34px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:30px;
  width:139px;
  height:34px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:30px;
  width:117px;
  height:34px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:30px;
  width:131px;
  height:34px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:30px;
  width:100px;
  height:34px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:30px;
  width:77px;
  height:34px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:30px;
  width:64px;
  height:34px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:52px;
  height:31px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:31px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:64px;
  width:189px;
  height:31px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:64px;
  width:139px;
  height:31px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:64px;
  width:117px;
  height:31px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:31px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:64px;
  width:131px;
  height:31px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:64px;
  width:100px;
  height:31px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:64px;
  width:77px;
  height:31px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:64px;
  width:64px;
  height:31px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:52px;
  height:34px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:34px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:95px;
  width:189px;
  height:34px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:95px;
  width:139px;
  height:34px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:95px;
  width:117px;
  height:34px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:95px;
  width:131px;
  height:34px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:95px;
  width:100px;
  height:34px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:95px;
  width:77px;
  height:34px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:95px;
  width:64px;
  height:34px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:78px;
  width:22px;
  height:19px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:326px;
  width:13px;
  height:16px;
  text-align:center;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:358px;
  width:13px;
  height:16px;
  text-align:center;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:42px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:234px;
  width:869px;
  height:42px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:865px;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:389px;
  width:13px;
  height:16px;
  text-align:center;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:29px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:436px;
  width:869px;
  height:29px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:865px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:475px;
  width:300px;
  height:62px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(100, 179, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 211, 211, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:486px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:163px;
  width:105px;
  height:40px;
  font-size:16px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:60px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:683px;
  width:990px;
  height:60px;
  color:#FFFFFF;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:986px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:19px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:720px;
  width:300px;
  height:19px;
  color:#FFFFFF;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
